
}
body{
	background-color: #00A2FF;
}
h2, h3, p{
	color: black;
}
h2{
	margin-bottom: 25px;
}

p{
	text-align: justify;
}
/*Header*/
.navbar{
	background-color: #A32E9F;
	border: 2px solid black;
	border-radius: 17px;
}
.navbar-brand{
	height: 69px;
}
.navbar-brand h1{
	margin: auto;
	color: black;
}
.navbar-brand h1:hover{
	text-decoration: underline;
}
/*End Header*/
.box{
	background-color: #47CCD2;
	border: 2px solid black;
	margin-bottom: 30px;
	border-radius: 17px;
}
div > p{
	padding: 10px;
}
.
@media (max-width: 767px){
	.navbar-toggle {
		margin-top: 18px;
	}
	.navbar-default .navbar-toggle {
	    border-color: black;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: black;
	}
	#collapsable-nav{
		border-top: 2px solid black;
		background-color: #FF9900;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: #FF9900;
	}
	.navbar-nav {
		margin-top: 0px;
		margin-bottom: 0px;	
	}
	li{
		font-size: 2em;
	}
	.navbar-default .navbar-nav>li>a {
	    color: black;
	}
	#li_bottomborder{
		border-bottom: 2px solid black;
	}
}
.tipografia 


}